[submodule "contributed/icra2023_orbitalmanipulation_koyama_marinho_harada"]
	path = papers_with_code/icra2023_orbitalmanipulation_koyama_marinho_harada
	url = https://github.com/mmmarinho/icra2023_orbitalmanipulation.git
